* {
    font-family: Garamond, Arial, Helvetica, sans-serif;
    background-color: lemonchiffon;
}

.hero {
    background-image: url(../images/school-of-athens.jpeg);
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}